<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="memberMapper">
  	<insert id="insert" parameterType="mvo">
  		insert into member(id,password,email,age)
  		values(#{id}, #{password}, #{email}, #{age})
  	</insert>
  	<select id="search" parameterType="mvo" resultType="mvo">
  		select id, password from member where id=#{id} and password=#{password}
  	</select>
  	<update id="lastLogin" parameterType="mvo">
  		update member set lastLogin = now() where id = #{id}

  	</update>
  	<select id="findMvo" parameterType="mvo" resultType="mvo">
  		select * from member where id=#{id}
  	</select>
  	<select id="list" resultType="mvo">
  		select * from member
  	</select>
  	<delete id="remove" parameterType="String">
  		delete from member where id = #{id}
  	</delete>
  </mapper>